@charset "UTF-8";
body {
	color: #5a5a5a;
	background: burlywood; 
	font-size: 12pt;
}

a {
	text-decoration: none;
	color: inherit;
}

nav > ul {
	display: flex;
	list-style: none;
}

nav > ul > li {
	padding: 5px 10px;
}	